.header-title{
    font-size: 30px;
}
.nav{
    display: flex;
    list-style:none;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    height: 80px;
    margin-top:10px
}
.products{
    display: flex;
    width: 1000px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
}